<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>cn.edu.wic.servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/user_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserTableServlet</servlet-name>
    <servlet-class>cn.edu.wic.servlet.UserTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTableServlet</servlet-name>
    <url-pattern>/user_table</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>userUeditServlet</servlet-name>
    <servlet-class>cn.edu.wic.servlet.userUeditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUeditServlet</servlet-name>
    <url-pattern>/user_uedit</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>userUeditSuer</servlet-name>
    <servlet-class>cn.edu.wic.servlet.userUeditSuer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUeditSuer</servlet-name>
    <url-pattern>/user_ueditsuer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>cn.edu.wic.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/user_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>cn.edu.wic.servlet.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/user_edit</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>UserMessageServlet</servlet-name>
    <servlet-class>cn.edu.wic.servlet.UserMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMessageServlet</servlet-name>
    <url-pattern>/user_message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserMsgServlet</servlet-name>
    <servlet-class>cn.edu.wic.servlet.UserMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMsgServlet</servlet-name>
    <url-pattern>/user_msg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>cn.edu.wic.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/user_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>cn.edu.wic.vcode.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/vcode.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.wic.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginenroll</servlet-name>
    <servlet-class>cn.edu.wic.servlet.loginenroll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginenroll</servlet-name>
    <url-pattern>/loginenroll</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>cn.edu.wic.bean.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>
